# Ignore raw and processed data
data/
trash*/
*.tif
*.tiff
*.jpg
*.jpeg
*.png

# Ignore test and temporary folders
test/
tmp/
*.log

# Ignore system/Colab junk
.ipynb_checkpoints/
.DS_Store
__pycache__/
*.pyc
